@model PersonUpdateDto
@{
    ViewData["Title"] = "Update person";
}

<div style="width: 50%;">
    <h1>Update person</h1>
    <a class="btn btn-info mb-2" href="/Person/Index">Show all</a>

    @Html.ValidationSummary()

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="alert alert-success">@Model.SuccessMessage</div>
    }


    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-success">@Model.ErrorMessage</div>
    }

    <form asp-action="EditPerson" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="PersonId" />
        <input type="hidden" asp-for="ProfilePicture" />
        <div class="mb-3">
            <label>FirstName*</label>
            <input type="text" class="form-control" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>LastName*</label>
            <input type="text" class="form-control" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Profile Pic</label>
            @if (!string.IsNullOrEmpty(Model.ProfilePicture))
            {
                <img class="mb-1" style="width:100px height:80px" src="Model.ProfilePicture" />
            }
            <input type="file" class="form-control" asp-for="File">

        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>

</div>